<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<title>Drillbox</title>

	<meta name="description" content="Drillbox is a toolkit for lightweight computaions required when drilling.">
	<meta charset="utf-8" />

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>

</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
	   {% block content %}
	   {% endblock %}	
	</div>
</body>

<footer>
	<div class="container-fluid" style='margin-left:15px'>
		<p>DrillBox is a product of Bare IT Ltd - <a href="{% url 'index' %}">Home</a> - <a href="{% url 'contact' %}">Contact</a></p>
	</div>
</footer>

</html>
